
<h1>Youtube Audio</h1>

<div class="row">
{{#each result}}
<div class="col m4 s12">
    <div class="card hoverable">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src={{this.snippet.thumbnails.medium.url}}>
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{this.snippet.title}}<i class="material-icons right">more_vert</i></span></br>
      <a href=/play/{{this.id.videoId}} class="waves-effect waves-light btn" onclick="return playUp('/play/{{this.id.videoId}}')" >Play audio</a>
      <a href=/play/{{this.id.videoId}} onclick="return popitup('/play/{{this.id.videoId}}')" class="waves-effect waves-light btn">Popout!</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
      <p>{{this.snippet.description}}</p>
    </div>
  </div>
</div>
{{/each}}
</div>


<object data=/play/l0ObIwrNK5Q id='player'></object>


<script>
  function popitup(url) {
	newwindow=window.open(url,'name','height=200,width=150');
	if (window.focus) {newwindow.focus()}
	return false;
}

function playUp(url) {
	document.getElementById('player').setAttribute("data",url);
	return false;
}
</script>