.container{
  background-color: #182945;
  color: #E8E8F0;
}

.btn{
    background-color: #46A5E5;
    padding-left: 5px;
    padding-right: 10px;
}
.btn:hover{
    background-color: #182945;
}

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#player{
  position: fixed;
  width: 100%;
  height: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}